.state {
  width: 8.75px !important;
  height: 8.75px !important;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 8px;
  display: inline-block;
}
.bgColor1 {
  background-color: #68eaa3;
}
.bgColor2 {
  background-color: #ff7d74;
}
